h1{
    margin: 5%;
    padding-left: 1%;
}

#map-access{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#map-parameters-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 95%;
    height: 80%;
}

#map {
    flex: 1 0 auto;
    min-width: 65%;
    max-width: 100%;
    height: 100%;
    margin: 5px;
    padding: 1px;
    border: 2px solid black;
}


#parameters {
    flex: 1 0 auto;
    min-width: 25%;
    max-width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}