h1{
    padding-left: 1%;
}

#map-access{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#map-parameters-container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    width: 80%;
    height: 80%;
}

#map {
    width: 45%;
    height: 100%;

    padding: 1px;
    border: 2px solid black;
}


#parameters {
    padding: 2em;
    border: 2px solid rgb(190, 190, 190);
}

.filter {
    margin-left: 2em;
}